<h2 class="best-sellers-heading text-center mb-4">Awards</h2>

 <div class="promotion-container">
 <!--<div class="section left" style="background-image: url('Awards/Award1.png');border-radius: 500px; height: 180px;">
    <div class="text-content">
      
    </div>
  </div>-->
<div class="section center" style="background-image: url('Awards/Award2.jpg');height: 180px;">
    <div class="text-content">
    </div>
  </div>
  <div class="section right" style="background-image: url('Awards/Award5.png'); border-radius: 500px;height: 180px;">
    <div class="text-content">
    </div>
  </div>
   <div class="section right" style="background-image: url('Awards/Award3.png');border-radius: 500px;height: 180px;">
    <div class="text-content">
    </div>
  </div>
  <div class="section right" style="background-image: url('Awards/Award6.png');border-radius: 500px;height: 180px;">
    <div class="text-content">
    </div>
  </div>
   <div class="section right" style="background-image: url('Awards/award7.png');border-radius: 500px;height: 180px;">
    <div class="text-content">
    </div>
  </div>
   <div class="section right" style="background-image: url('Awards/award8.png');border-radius: 500px;height: 180px;">
    <div class="text-content">
    </div>
  </div>
   <div class="section right" style="background-image: url('Awards/award9.png');border-radius: 500px;height: 180px;">
    <div class="text-content">
    </div>
  </div>
   <div class="section right" style="background-image: url('Awards/award10.png');border-radius: 500px;height: 180px;">
    <div class="text-content">
    </div>
  </div>

</div>



